# Databricks Schemas Configuration File
# Define schema names for different environments

[schema_names]
# Landing/Bronze
landing = landing

# Gold
facts = facts
dims = dims

# Operations
metadataregistry = metadataregistry

# Silver-Transformations
dv_hub = dv_hub
dv_link = dv_link
dv_satellite = dv_satellite
dv_special = dv_special
